* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: url(/images/01_background.png);
  background-size: cover;
  z-index: 10;
  --xdeg: 0.5;
  --ydeg: 0.5;

  .ground {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 23vh;
    transform-origin: left top;
    transform: translateY(70vh);
  }

  // backgroung element style
  .element {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 56.6vh;
    transform-origin: left top;
    transform: translate(
      calc(var(--xdeg) * 10px),
      calc(var(--ydeg) * 10px + 9.5vh)
    );
    transition: all 1s linear;
  }

  // lighting style
  .lighting {
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100vw;
    height: 92vh;
    transform: translate(calc(var(--xdeg) * 20px), calc(var(--ydeg) * 20px));
    transition: all 1s linear;
  }

  // role style
  .role {
    position: absolute;
    top: 0;
    z-index: 40;
    width: 40vw;
    height: 61.4vh;
    transform-origin: left top;
    // transform: translate(30vw, 16vh);
    transform: translate(
      calc(var(--xdeg) * 30px + 30vw),
      calc(var(--ydeg) * 20px + 16vh)
    );
    transition: all 1s linear;
  }

  // role shadow style
  .role-shadow {
    position: absolute;
    top: 0;
    z-index: 40;
    width: 98vw;
    height: 24vh;
    transform-origin: left top;
    // transform: translate(1vw, 70vh);
    transform: translate(
      calc(var(--xdeg) * 30px + 1vw),
      calc(var(--ydeg) * 20px + 70vh)
    );
    transition: all 1s linear;
  }
}
