@import './webfonts/Montserrat.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}
 
// Z-index
$zindex-0: 1;
$zindex-1: 10;
$zindex-2: 20;
$zindex-3: 30;
$zindex-4: 40;
$zindex-5: 50;

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: url(/images/01_background.png);
  background-size: cover;
  z-index: $zindex-1;
  --xdeg: 0.5;
  --ydeg: 0.5;

  .text-info {
    position: absolute;
    bottom: 19vh;
    z-index: $zindex-5;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    font-family: Montserrat, system-ui, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    font-weight: 700;

    .name {
      color: #b1d450;
    }

    .desc {
      color: #f2f2f2;
    }
  }

  .img-buttons {
    position: absolute;
    bottom: 2vh;
    z-index: $zindex-5;
    width: 100%;
    text-align: center;

    img {
      width: 13.5rem;
      height: auto;
    }
  }

  &.moving {
    .element,
    .lighting,
    .ground,
    .role,
    .role-shadow {
      transition: none;
    }
  }

  // level-1: background element style
  .element {
    position: absolute;
    top: 0;
    z-index: $zindex-2;
    width: 100vw;
    height: 56.6vh;
    transform-origin: left top;
    transform: translate(
      calc(var(--xdeg) * 10px),
      calc(var(--ydeg) * 10px + 9.5vh)
    );
    transition: all 0.2s linear;
  }

  // level-2: lighting style
  .lighting {
    position: absolute;
    top: 0;
    z-index: $zindex-3;
    width: 100vw;
    height: 92vh;
    transform: translate(calc(var(--xdeg) * 20px), calc(var(--ydeg) * 20px));
    transition: all 0.2s linear;
  }

  // level-3: ground style
  .ground {
    position: absolute;
    top: 0;
    z-index: $zindex-2;
    width: 100vw;
    height: 23vh;
    transform-origin: left top;
    transform: translateY(calc(var(--ydeg) * 15px + 70vh));
    transition: all 0.2s linear;
  }

  // level-4: role style
  .role {
    position: absolute;
    top: 0;
    z-index: $zindex-4;
    width: 40vw;
    height: 61.4vh;
    transform-origin: left top;
    transform: translate(
      calc(var(--xdeg) * 30px + 30vw),
      calc(var(--ydeg) * 20px + 16vh)
    );
    transition: all 0.2s linear;
  }

  // level-4: role shadow style
  .role-shadow {
    position: absolute;
    top: 0;
    z-index: $zindex-4;
    width: 98vw;
    height: 24vh;
    transform-origin: left top;
    transform: translate(
      calc(var(--xdeg) * 30px + 1vw),
      calc(var(--ydeg) * 20px + 70vh)
    );
    transition: all 0.2s linear;
  }

  @media screen and (max-width: 480px) {
    .img-buttons img {
      width: 10rem;
    }
  }
}
