* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: url(/images/01_background.png);
  background-size: cover;
  z-index: 10;
  --xdeg: 0.5;
  --ydeg: 0.5;

  .ground {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 23vh;
    transform-origin: left top;
    transform: translateY(70vh);
  }

  .text-info {
    position: absolute;
    bottom: 17vh;
    z-index: 50;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
      'Helvetica Neue', sans-serif;

    .name {
      color: #b1d450;
    }

    .desc {
      color: #f2f2f2;
    }
  }

  .img-buttons {
    position: absolute;
    bottom: 2vh;
    z-index: 50;
    width: 100%;
    text-align: center;

    img {
      width: 15rem;
      height: auto;
    }
  }

  &.moving {
    .element,
    .lighting,
    .role,
    .role-shadow {
      transition: none;
    }
  }

  // backgroung element style
  .element {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 56.6vh;
    transform-origin: left top;
    transform: translate(
      calc(var(--xdeg) * 10px),
      calc(var(--ydeg) * 10px + 9.5vh)
    );
    transition: all 0.2s linear;
  }

  // lighting style
  .lighting {
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100vw;
    height: 92vh;
    transform: translate(calc(var(--xdeg) * 20px), calc(var(--ydeg) * 20px));
    transition: all 0.2s linear;
  }

  // role style
  .role {
    position: absolute;
    top: 0;
    z-index: 40;
    width: 40vw;
    height: 61.4vh;
    transform-origin: left top;
    // transform: translate(30vw, 16vh);
    transform: translate(
      calc(var(--xdeg) * 30px + 30vw),
      calc(var(--ydeg) * 20px + 16vh)
    );
    transition: all 0.2s linear;
  }

  // role shadow style
  .role-shadow {
    position: absolute;
    top: 0;
    z-index: 40;
    width: 98vw;
    height: 24vh;
    transform-origin: left top;
    // transform: translate(1vw, 70vh);
    transform: translate(
      calc(var(--xdeg) * 30px + 1vw),
      calc(var(--ydeg) * 20px + 70vh)
    );
    transition: all 0.2s linear;
  }

  @media screen and (max-width: 480px) {
    .img-buttons img {
      width: 10rem;
    }
  }
}
